{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <span class="logo">CarPlay Peralta</span>
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="http://127.0.0.1:8000">Inicio</a>
        </li>
        <li {% if section == "catalogo" %}class="selected"{% endif %}>
          <a href="http://127.0.0.1:8000/shop/">Catálogo</a>
        </li>
        {% if request.user.is_authenticated %}
        <li {% if section == "profile" %}class="selected"{% endif %}>
          <a href="http://127.0.0.1:8000/profile">Perfil</a>
        </li>
        
        {% endif %}
        <li {% if section == "reclamaciones" %}class="selected"{% endif %}>
          <a href="http://127.0.0.1:8000/reclamaciones">Ponerse en contacto</a>
        </li>
        <li {% if section == "images" %}class="selected"{% endif %}>
          <a href="http://127.0.0.1:8000/cart/">Carrito</a>
        </li>
      </ul>
    <span class="user">
      {% if request.user.is_authenticated %}
        Hola {{ request.user.first_name|default:request.user.username }},
        <a href="http://127.0.0.1:8000/logout">Cerrar sesión</a>
      {% else %}
        <a href="http://127.0.0.1:8000/login">Iniciar sesión</a>
      {% endif %}
    </span>
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="footer">
    <div class="footer-links">
      <a href="http://127.0.0.1:8000/datos" class="footer-link">Sobre nosotros</a> |
      <a href="http://127.0.0.1:8000/terminos_de_uso_y_privacidad" class="footer-link">Términos de uso y privacidad</a>
    </div>
    <div class="copyright">
      &copy; CarPlay Peralta 2023
    </div>
  </div>
  
</body>
</html>

