{% extends "shop/base.html" %}
{% load static %}
{% block title %}
 Your shopping cart
{% endblock %}
{% block content %}
<style>
    .imagen-limitada {
      max-width: 300px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
    .producto {
        display: flex;
        align-items: center;
    }
    .detalles-producto {
        flex-grow: 1;
        
    }

    .btn-search {
        background-color: #f8a976;
        color: #fff;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-search:hover {
        background-color: #a16e4b;
    }
  </style>

 <h1>Tu carrito de compra</h1>
 {% if cart %}
 <table class="cart">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
            <th>Precio unidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }}
                            {% else %}{% static "img/no_image.png" %}{% endif %}" class="imagen-limitada">
                        </a>
                    </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ item.update_quantity_form.cantidad }}
                                {{ item.update_quantity_form.override }}
                            <input type="submit" value="Actualizar">
                            {% csrf_token %}
                            </form>
                        </td>
                        <td>
                        <form action="{% url "cart:cart_remove" product.id %}"method="post">
                            <input type="submit" value="Eliminar">
                            {% csrf_token %}
                        </form>
                        </td>
                    <td class="num">{{ item.price }}€</td>
                    <td class="num">{{ item.total_price }}€</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }}€</td>
        </tr>
    </tbody>
 </table>
 <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Seguir comprando</a>
    <a href="{% url "pedidos:pedido_create" %}" class="button">
        Terminar pedido
    </a>
 </p>
 {% else %}
    <p>No hay productos en el carrito.</p>
{% endif %}
{% endblock %}