Django==4.10
stripe==4.0.2
WeasyPrint==56.1
cssselect2==0.1
'''
Pango ≥ 1.44.0
pydyf ≥ 0.6.0
CFFI ≥ 0.6
html5lib ≥ 1.1
tinycss2 ≥ 1.0.0
cssselect2 ≥ 0.1
Pyphen ≥ 0.9.1
Pillow ≥ 9.1.0
fontTools ≥ 4.0.0
'''