{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}

  <div class="product-detail">
    <style>
      .imagen-limitada {
        max-width: 300px;
        max-height: 200px;
        width: auto;
        height: auto;
      }
      .producto {
          display: flex;
          align-items: center;
      }
      .detalles-producto {
          flex-grow: 1;
          
      }
    </style>
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" class="imagen-limitada">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        Tipo de producto: {{ product.category }}
      </a>
    </h2>
    <p class="price">Precio: ${{ product.price }}</p>
    Información: {{ product.description|linebreaks }}
  </div>
{% endblock %}