{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}

  <div class="product-detail">
    <style>
      .imagen-limitada {
        max-width: 300px;
        max-height: 200px;
        width: auto;
        height: auto;
      }
      .producto {
          display: flex;
          align-items: center;
      }
      .detalles-producto {
          flex-grow: 1;
          
      }

      .btn-search {
          background-color: #f8a976;
          color: #fff;
          border: none;
          padding: 10px 15px;
          border-radius: 4px;
          cursor: pointer;
      }

      .btn-search:hover {
          background-color: #a16e4b;
      }
    </style>
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}" class="imagen-limitada">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        Categoria: {{ product.category }}
      </a>
    </h2>
    <h2>
      <a href="{{ product.department.get_absolute_url }}">
        Departmento: {{ product.department }}
      </a>
    </h2>
    <h2>
      <a href="{{ product.manufacturer.get_absolute_url }}">
        Fabricante: {{ product.manufacturer }}
      </a>
    </h2>

    <h3>Precio:</h3>
    <p class="price">{{ product.price }}€</p>
    <br>

    {% if not product.available %}
      <strong><h2 style="color: red;">AGOTADO</h2></strong>
    {%else %}
      <form action="{% url "cart:cart_add" product.id %}" method="post" class="product-form">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Añadir al carrito" class="btn-search">
      </form>
    {%endif %}

    <h3>Información:</h3>
    <p>{{ product.description|linebreaks }}</p>

    <!--Este bloque de comentario hace referencia a grandes rasgos de como debería de estar localizado
          el listado de opiniones del usuario, colocando el formulario propio arriba del todo-->
        <h3> Deje su opión sobre el producto aquí! </h3>
          <form method="post" action="{% url "feedback:form_opinion" %}" class="opinion-form">
          {{ opinion_form }}
          {% csrf_token %}
          <input type="submit" value="Enviar Opinon" class="btn-search">
          </form>
          <h3> Opiniones </h3>
          <table>
            {% for item in opiniones %}
                    <tr>
                            <td>{{ item.usuario }}</td>
                            <td class="num">{{ item.puntuacion }}</td>
                            <td>{{ item.descripcion }}</td>
                    </tr>
            {% endfor %}
          </table>
  </div>
{% endblock %}