{% extends "shop/base.html" %}

{% block title %}
    Resumen de Compra
{% endblock %}

{% block content %}
<h1>Resumen de Compra</h1>
<div class="order-info">
    <h3>Su pedido</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>${{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
</div>
<div>
    <h3> Si la compra excede los 50€ el envio general es gratuito, sino asciende a 10€ </h3>
        <h4> El envío express vale 20 € sin importar el número de items </h4>
</div>
<form method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Place order"></p>
    {% csrf_token %}
</form>
{% endblock %}