{% extends "base.html" %}

{% block title %}Buscar pedido por el número de referencia del pedido{% endblock %}

{% block content %}


<h1>Buscar pedido por número de referencia</h1>
<style>
#search-form-container {
    margin: 0 auto;
}

.search-form {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 8px;
    width: 35%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-search {
    background-color: #f8a976;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #a16e4b;
}


</style>




<div id="search-form-container"></div>
    <form method="post" action="{% url 'buscar_pedido' %}" class="search-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="num_referencia">Número de referencia del pedido:</label>
            <input type="number" id="num_referencia" name="num_referencia" class="form-control" required>
            <button type="submit" class="btn-search">Buscar</button>
        </div>
        
    </form>
</div>


  {% if resultados %}
      <h2>Resultados:</h2>
      <ul>
      {% for pedido in resultados %}
          <li>
              <strong>Número de referencia:</strong> {{ pedido.num_referencia}}<br>
              <strong>Nombre:</strong> {{ pedido.nombre }}<br>
              <strong>Apellidos:</strong> {{ pedido.apellidos }}<br>
              <strong>Email:</strong> {{ pedido.email }}<br>
              <strong>Dirección:</strong> {{ pedido.direccion }}<br>
              <strong>Código Postal:</strong> {{ pedido.codigo_postal }}<br>
              <strong>Ciudad:</strong> {{ pedido.ciudad }}<br>
              <strong>Opciones de Envío:</strong> {{ pedido.get_opciones_envio_display }}<br>
              <strong>Fecha del pedido:</strong> {{ pedido.creado }}<br>
              <strong>Estado del pedido:</strong> {{ pedido.get_estado_pedido_display}}<br>
              <strong>Coste Total:</strong> {{ pedido.coste_total}}€<br>
          </li>
      {% endfor %}
      </ul>
  {% endif %}
{% endblock %}


