{% extends "base.html" %}

{% block title %}Buscar pedido por el número de referencia del pedido{% endblock %}

{% block content %}
<h1>Buscar pedido por número de referencia</h1>
<form method="post" action="{% url 'buscar_pedido' %}">
    {% csrf_token %}
    <label for="num_referencia">Número de referencia del pedido:</label>
    <input type="number" id="num_referencia" name="num_referencia">
    <button type="submit">Buscar</button>
</form>

  {% if resultados %}
      <h2>Resultados:</h2>
      <ul>
      {% for pedido in resultados %}
          <li>
              <strong>Número de referencia:</strong> {{ pedido.num_referencia}}<br>
              <strong>Nombre:</strong> {{ pedido.nombre }}<br>
              <strong>Apellidos:</strong> {{ pedido.apellidos }}<br>
              <strong>Email:</strong> {{ pedido.email }}<br>
              <strong>Dirección:</strong> {{ pedido.direccion }}<br>
              <strong>Código Postal:</strong> {{ pedido.codigo_postal }}<br>
              <strong>Ciudad:</strong> {{ pedido.ciudad }}<br>
              <strong>Opciones de Envío:</strong> {{ pedido.get_opciones_envio_display }}<br>
              <strong>Fecha del pedido:</strong> {{ pedido.creado }}<br>
              <strong>Estado del pedido:</strong> {{ pedido.get_estado_pedido_display}}<br>
              <strong>Coste Total:</strong> {{ pedido.coste_total}}€<br>
          </li>
      {% endfor %}
      </ul>
  {% endif %}
{% endblock %}


