{% extends "base.html" %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <h1>Información de la Empresa</h1>
    <p><strong>Nombre:</strong> FineSolutions S.L</p>
    <p><strong>Descripción:</strong> Nos dedicamos al tratamiento de citas para talleres, <br>
        así como traer un amplio catálogo con útiles de talleres, siempre intentando dar la máxima<br>
    facilidad posible a nuestros clientes para contactar y tratar con los mismos y asistirles en sus quehaceres.</p>
    <p><strong>Dirección:</strong> Avd. Reina Mercedes s/n, Sevilla</p>
    <p><strong>Teléfono:</strong> 112345987</p>
    <p><strong>Correo:</strong> finesolutions.ayuda@gmail.com</p><br><br><br>
    <p><strong>Horario de atención al cliente:</strong> Lunes a Viernes, de 09:00h a 17:30h</p>
{% endblock %}