{% extends 'base.html' %}

{% block title %}Estado de pedidos{% endblock %}

{% block content %}
  <h2>Estado de pedidos</h2>

  {% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
            <li>
                <strong>Num. Referencia:</strong> {{ pedido.num_referencia }}<br>
                <strong>Dirección:</strong> {{ pedido.direccion }}<br>
                <strong>Opción de envio:</strong> {{ pedido.get_opciones_envio_display }}<br>
                <strong>Coste total:</strong> {{ pedido.coste_total }}<br>
                <strong>Estado:</strong> {{ pedido.get_estado_pedido_display }}<br>
                <!-- Otros detalles del pedido -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay pedidos disponibles.</p>
{% endif %}
  
{% endblock %}