{% extends "base.html" %}

{% block title %}Reclamaciones y Opiniones{% endblock %}

{% block content %}
    <h1>Envíanos tus Reclamaciones y Opiniones</h1>
    <p>Nos importa tu experiencia y queremos escucharte. Por favor, comparte tu experiencia por medio de nuestro correo para que podamos mejorar nuestros servicios.</p>

    <p><strong>Correo de Contacto:</strong> peraltacarplay [arroba] gmail [punto] com</p>

    <p>Recuerda reemplazar arroba por "@", punto por "." y unirlo sin espacios para escribir la dirección correctamente</p>
    <p>Gracias por tu colaboración.</p>
{% endblock %}